

body,p {
    font-size: small;
    font-family: arial,sans-serif;
    background: #fff; 
} 
#img {
    height: 232px;
    margin-top: 90px;
    padding-top: 109px; 
     
} 
.user {
    position: absolute; 
    display: inline-block;
    right: 30px;
    top: 12px;
    word-spacing: 28px;
    vertical-align: baseline;
     
} 
footer { 

border:0;
font-size:100%;
color: gray;


}